<div [hidden]="!isOpen" class="container pt-5">
  <hr>
<form class="col-6 pt-5" [formGroup]="formEditProfile" (ngSubmit)="submit()">
  <h4 class="pb-3 text-success">Редактор профиля</h4>
  <label><strong>ФИО</strong></label>
  <input class="form-control mb-3" formControlName="fullname">
  <div *ngIf="fullname?.invalid && (fullname?.dirty || fullname?.touched)" class="invalid-feedback"
       class="alert alert-danger">
    <div *ngIf="fullname?.errors?.['onlyDigits']">
      {{ fullname?.errors?.['onlyDigits'] }}
    </div>
  </div>
  <label><strong>Телефон</strong></label>
  <input class="form-control mb-3" formControlName="phone">
  <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="invalid-feedback"
       class="alert alert-danger">
    <div *ngIf="phone?.errors?.['onlyDigits']">
      {{ phone?.errors?.['onlyDigits'] }}
    </div>
  </div>
  <label><strong>Возраст</strong></label>
  <input class="form-control mb-3" formControlName="age">
  <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="invalid-feedback"
       class="alert alert-danger">
    <div *ngIf="age?.errors?.['onlyDigits']">
      {{ age?.errors?.['onlyDigits'] }}
    </div>
  </div>
  <label><strong>Пол</strong></label>
  <select class="form-control mb-3" formControlName="gender">
    <option value="" disabled>Выберите пол</option>
    <option value="male">Мужской</option>
    <option value="female">Женский</option>
  </select>
  <label><strong>Должность</strong></label>
  <select class="form-control mb-3" formControlName="position">
    <option value="" disabled>Выберите должность</option>
    <option *ngFor="let p of positions" [value]="p.value" >
      {{p.label}}
    </option>
  </select>
  <div class="mt-3 mb-3">
    <button class="btn btn-success me-2">Сохранить изменения</button>
    <button type="button" class="btn btn-secondary" (click)="isOpen = false">Закрыть</button>

  </div>
</form>
</div>
