<div class="container">
  <div class="d-flex justify-content-between pt-5">
    <h4 class="">Личный кабинет</h4>
    <button class="btn btn-danger" (click)="logout()">Выйти</button>
  </div>
  <ul class="nav nav-tabs pt-4">
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'profile'" (click)="setActiveTab('profile')" style="cursor:pointer">Профиль</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="activeTab === 'polls'" (click)="setActiveTab('polls')" style="cursor:pointer" tabindex="-1" >Опросы</a>
    </li>
  </ul>
</div>


<app-profile *ngIf="activeTab === 'profile'"></app-profile>
<app-polls-user *ngIf="activeTab === 'polls'"></app-polls-user>
