<div class="modal-backdrop fade show" *ngIf="isOpen"></div>
<div class="modal fade show d-block" tabindex="-1" *ngIf="isOpen">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Подтверждение удаления</h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>
      <form [formGroup]="deleteModal" (ngSubmit)="submit()" >
        <div class="modal-body">
          <p>Вы уверены, что хотите удалить пользователя <strong>ID: {{userId}} </strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Отмена</button>
          <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
      </form>
    </div>
  </div>
</div>
